body{
    background-color: rgb(141, 168, 216);
}

#main{
    display: grid;
    grid-template: 30px 2fr 300px/2fr 250px;
    padding: 20px;
    gap: 40px;

    #add{
        grid-column:1/3; 
        display: flex;
        justify-content: center;
        align-items: center;

        button{
            width: 200px;
            height: 100px;
            border-radius: 20px;
            border: none;
            background-color: rgb(98, 168, 124);
            color: white;
            font-weight: 600;
        }

        button:hover{
            cursor: pointer;
        }
    }

    .book{
        display: grid;
        grid-template:1fr /1fr 1fr 1fr;
        grid-auto-rows: 70%;
        padding: 20px;
        gap: 20px;
        background-color: rgb(242, 247, 242);
        border-radius: 10px;
        align-items: center;
        max-height: 500px;
        overflow: auto;

        & > div{
            height: 95%;
            border:1px solid rgb(98, 168, 124);
            border-radius: 10px;
            box-shadow: 0 0 5px rgb(185, 185, 187);

            & > img{
                border-radius: 10px;
                height: 100%;
                width: 100%;
            }
        }
    }

    .genre{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 600;
        margin:20px ;
    }

    #title{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 2rem;
        font-weight: 600;
        grid-column: span 2;
    }

    #add{
        margin: 40px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: column;
        text-align: start;
        box-shadow: 0 0 10px rgb(144, 144, 182);
        border-radius: 10px;
        background-color: rgb(154, 177, 218);

        & > #addcircle{
            height: 60%;
            width: 60%;

            & > img{
                height: 100%;
                width: 100%;
            }
        }

        & > #addcircle > img:hover{
            cursor: pointer;
        }

        & > #text{
            background-color: rgb(171, 188, 218);
            padding-left: 20px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            font-size: 1.5rem;
            font-weight: 600;
            border-radius: 10px;
        }
    }

    & > #genre{
        padding: 40px;
        background-color: rgb(242, 247, 242);
        border-radius: 10px;
        font-weight:600;

        ul{
            display: grid;
            gap: 20px;
            list-style:circle;
        }

        & > div{
            margin-bottom: 20px;
            font-size: 1.5rem;
        }
    }
    
}